.lc-menu {
  width: 200px;
  padding: var(--l-space-md);
  border-right: var(--l-border);

  &__group {
    margin-bottom: var(--l-space-lg);
  }

  &__group-title {
    margin-bottom: var(--l-space-lg);
    font-size: var(--l-font-size-xs);
    color: var(--l-secondary-text-color);
  }

  &__menu-item {
    cursor: pointer;
  }

  & li {
    list-style: none;
  }
}